body {
background-color: #2caac9;
color: #ffffff;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}

.container {
max-width: 400px;
margin: 0 auto;
padding: 20px;
}

.avatar {
width: 120px;
border-radius: 50%;
border: 3px solid #093578;
}

.btn {
display: block;
background-color: #2abfe4;
color: white;
padding: 5px;
margin: 8px 0;
text-decoration: none;
border-radius: 10px;
transition: 0.3s;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}

.btn:hover {
background-color: #1d92b9;
transform: scale(1.02);
}

/* DESAFIO: Estilize o botão especial */
.destaque {}